<!DOCTYPE html>
<html lang="en">
<head>
    <style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
        }
    </style>
    <meta charset="UTF-8">
    <title>Stránka nenájdená</title>
</head>
<body>
    <header>
        <span id="LOGO"><a href="{% url 'index:index' %}">ZELNY TRH</a></span>
    </header>
    <main>
        <p style="text-align:center; font-size:200%">404 - Stránka, ktorú sa pokúšate navštíviť, neexistuje.</p>
        <p>
            {% load static %}
            <img src="{% static 'index/images/sad.png' %}" alt="smutny_smajlik" class="center">
        </p>
    </main>
</body>
</html>