body {
  font-family: verdana;
  background: rgb(4,36,0) linear-gradient(176deg, rgba(4, 36, 0, 1) 0%, rgba(45, 121, 9, 1) 40%, rgba(159, 255, 0, 1) 100%);
  padding: 15px;
    background-size: contain;
}
.LOGO{
  font-size: xx-large;
  display: flex;
  justify-content: space-between;
  color: #4ac1f7;
}

.crop, .harvest{
  padding:0 5px;
  text-align: center;
  border: 2px solid black;
  margin: 5px;
  background: #79a641
}

.crop_name, .crop_price, .crop_description{
  font-size: 20px;
  white-space: pre-line;

}

.harvest_date, .harvest_place, .harvest_description,
.harvest_max, .harvest_current, .harvest_crop, .harvest_farmer{
  font-size: 20px;
  white-space: pre-line;
}


.login {
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

#login .input{
    display: block;
    height: 50px;
    width: 380px;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 300;
}

ul
{
  display:flex;
  list-style:none;
  width: auto;
  text-align: center;
}

ul li{
  display: list-item;
  padding: 5px;
  margin: 0 3px;
  background: #79a641;
  text-align: center;
}

a:link,a:hover, a:visited,a:active{
  text-decoration: None;
  text-align: center;
  color: black;
}

 li:hover{
   text-decoration: None;
   background: #bee883;
 }

h2 {
    color: #1b1b1b;
}

.button, .signup, .confirm, .refuse{
  background-color: #79a641;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: black;
  border: 2px solid black;
  margin: 5px;

}


#form .order{
    background-color: #79a641;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: black;
  border: 2px solid black;
    margin-bottom: 5px;

}
.confirm:hover{
    background-color: green;
}

.refuse:hover{
    background-color: red;
}

.button:hover{
   background: #bee883;
}

.signup {
  width: 335px;
  height: 15px;
}
.signup:hover {
   background: #bee883;
}

input[type="checkbox"] {
    appearance: none;
}

