<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrácia - Zelný trh</title>
</head>
<body>
    <header>
        <span id="LOGO"><a href="{% url 'index:index' %}">ZELNY TRH</a></span>
    </header>
    <main>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password">
            <br>
            <input type="submit" value="sign up">
        </form>
    </main>
</body>
</html>