{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'index/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Zelný trh - Moderácia</title>
</head>
<body>
    <header>
        <div class="LOGO" id="LOGO"><a href="{% url 'index:index' %}">ZELNÝ TRH</a>
            <a href="{% url 'index:login' %}"><span class="button">Odhlásenie</span></a>
        </div>
        <nav>
            <a href="{% url 'index:offers' %}"><span class="button">Ponuka</span></a>
            <a href="{% url 'index:harvests' %}"><span class="button">Zbery</span></a>
            <a href="{% url 'index:cart' %}"><span class="button">Košík</span></a>
            <a href="{% url 'index:profile' %}"><span class="button">Profil</span></a>
        </nav>
    </header>
    <main>
        {% if categories %}
        <div class="table_header">
            <label>Category ID</label>
            <label>Category name</label>
            <label>Category of</label>
            <label>Is approved</label>
            <label>Toggle approval</label>
            <label>Delete</label>
        </div>
        <div>
            {% for cat in categories %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="cat_id" value="{{ cat.id }}">
                <label>{{ cat.id }}</label>
                <label>{{ cat.category_name }}</label>
                <label>{{ cat.category_of_id }}</label>
                <label>{{ cat.approved }}</label>
                {% if cat.approved %}
                    <input type="submit" name="disallow" value="disallow">
                {% else %}
                    <input type="submit" name="approve" value="approve">
                {% endif %}
            </form>
            {% endfor %}
        {% else %}
            <label>Nothing to show for now</label>
        {% endif %}
        </div>
    </main>
</body>
</html>