{% load static %}
<!DOCTYPE html>
<html lang="cs" style="height: 110%">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="shortcut icon" href="{% static 'index/images/favicon.ico' %}"/>
<head>
    <meta charset="UTF-8">
    <title>Zelný trh - Zbery</title>
    <div class="LOGO" id="LOGO"><a href="{% url 'index:index' %}">ZELNÝ TRH</a>
    {% if logged_in %}
        <span class="button"><a href="{% url 'index:login' %}">Odhlásenie</a></span>
    {% else %}
        <span class="button" ><a href="{% url 'index:login' %}">Login</a></span>
    {% endif %}
    </div>
    <br><br>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="button"><a href="{% url 'index:offers' %}">Ponuka</a></li>
                <!-- le comment<li class="button"><a href="{% url 'index:harvests' %}">Zbery</a></li>-->
            </ul>
        </nav>


    </header>
    <main>
        <div class="showcase" id="all_harvests">
            <h1>Najbližšie zbery:</h1>
            {% if harvests %}
                    <ul>
                        {% for harvest in harvests %}
                            <li><a href="{% url 'index:harvest_detail' harvest.id %}">
                                <div class = "harvest">
                                    <label class="harvest_date">
                                       Dátum: {{ harvest.date }}
                                    </label>
                                    <label  class="harvest_place">
                                        Miesto: {{ harvest.place }}
                                    </label>
                                    <label  class="harvest_description">
                                        Popis: {{ harvest.description }}
                                    </label>
                                    <label  class="harvest_max">
                                        Maximum: {{ harvest.max_occupancy }} osôb
                                    </label>
                                    <label  class="harvest_current">
                                        Zúčastnených: {{ harvest.current_occupancy }} osôb
                                    </label>
                                    <label  class="harvest_crop">
                                        Plodina: {{ harvest.crop }}
                                    </label>
                                    <label  class="harvest_farmer">
                                        Farmár: {{ harvest.farmer }}
                                    </label>
                                </div>
                            </a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div>Nothing to show for now</div>
                {% endif %}
        </div>
        <div class="showcase" id="all_harvests">
            <h1>Moje zbery:</h1>
            {% if my_harvests %}
                <ul class="harvests">
                    {% for harvest in my_harvests %}
                        <li class="harvests">
                                    <a href="{% url 'index:harvest_detail' harvest.id %}">
                             <div class = "harvest">
                                    <label class="harvest_date">
                                       Dátum: {{ harvest.date }}
                                    </label>
                                    <label  class="harvest_place">
                                        Miesto: {{ harvest.place }}
                                    </label>
                                    <label  class="harvest_description">
                                        Popis: {{ harvest.description }}
                                    </label>
                             </div>
                        </a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <div>Nothing to show for now</div>
            {% endif %}
        </div>
    </main>
</body>
</html>