<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Zelný trh</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="button"><a href="{% url 'index:offers' %}">Ponuka</a></li>
                <li class="button"><a href="{% url 'index:farmers' %}">Farmari</a></li>
                <li class="button"><a href="{% url 'index:harvests' %}">Zbery</a></li>
            </ul>
        </nav>
        <span id="LOGO"><a href="{% url 'index:index' %}">ZELNY TRH</a></span>
        {% if logged_in %}
            <span class="button"><a href="{% url 'index:login' %}">Košík</a></span>
            <span class="button"><a href="{% url 'index:login' %}">Profil</a></span>
            <span class="button"><a href="{% url 'index:login' %}">Odhlásenie</a></span>
        {% else %}
            <span class="button"><a href="{% url 'index:login' %}">Login</a></span>
        {% endif %}
        <div id="intro">Zelny trh</div>
    </header>
    <main>
        <div>
            {% load static %}
            <img src="{% static 'index/images/sad.png' %}" alt="Sad face" width="100" height="100">
        </div>
        <div>
            <div class="showcase">
                {% if top_crops %}
                    <ul>
                        {% for crop in top_crops %}
                            <li><a href="{% url 'index:product_detail' crop.0 %}">
                                <div class="crop">
                                    <span class="crop_name">
                                        {{ crop.1 }}
                                    </span>
                                    <span class="crop_price">
                                        {{ crop.4 }}
                                    </span>
                                    <span class="crop_price_type">
                                        {{ crop.5 }}
                                    </span>
                                </div>
                            </a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div>Nothing to show for now</div>
                {% endif %}
            </div>
            <div class="showcase">
                {% if new_crops %}
                    <ul>
                        {% for crop in new_crops %}
                            <li><a href="{% url 'index:product_detail' crop.0 %}">
                                <div class="crop">
                                    <span class="crop_name">
                                        {{ crop.1 }}
                                    </span>
                                    <span class="crop_price">
                                        {{ crop.4 }}
                                    </span>
                                    <span class="crop_price_type">
                                        {{ crop.5 }}
                                    </span>
                                </div>
                            </a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div>Nothing to show for now</div>
                {% endif %}
            </div>
        </div>
    </main>
</body>
</html>