{% load static %}
<!DOCTYPE html>
<html lang="cs" style="height: 110%">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Zelný trh</title>
    <span class="LOGO"><a href="{% url 'index:index' %}">ZELNÝ TRH</a></span>
    <br><br>
</head>
<body>
    <header>
            <span class="button"><a href="{% url 'index:offers' %}">Ponuka</a></span>
            <span class="button"><a href="{% url 'index:harvests' %}">Zbery</a></span>
        {% if logged_in %}
            <span class="button"><a href="{% url 'index:cart' %}">Košík</a></span>
            <span class="button"><a href="{% url 'index:profile' %}">Profil</a></span>
            <span class="button"><a href="{% url 'index:login' %}">Odhlásenie</a></span>
        {% else %}
            <span class="button"><a href="{% url 'index:login' %}">Login</a></span>
        {% endif %}
    </header>
    <main>
        <div>
            <div class="showcase">
                {% if top_crops %}
                    <h2>Najlepšie hodnotené plodiny:</h2>
                    <ul>
                        {% for top_crop in top_crops %}
                            <li><a href="{% url 'index:product_detail' top_crop.id %}">
                                <div class="crop">
                                    {% load static %}
                                    <img src="{% static 'index/images/crops.png' %}" alt="Crop" width="100" height="100">
                                    <span class="crop_name">
                                        {{ top_crop.crop_name }}
                                    </span>
                                    <span class="crop_description">
                                        Popis: {{ top_crop.description }}
                                    </span>
                                    <span class="crop_price">
                                        Cena: {{ top_crop.price }}
                                    </span>
                                </div>
                            </a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div>Nothing to show for now</div>
                {% endif %}
            </div>
            <div class="showcase">
                {% if new_crops %}
                    <h2>Najnovšie plodiny:</h2>
                    <ul>
                        {% for new_crop in new_crops %}
                            <li><a href="{% url 'index:product_detail' new_crop.id %}">
                                <div class="crop">
                                    {% load static %}
                                    <img src="{% static 'index/images/crops.png' %}" alt="Crop" width="100" height="100">
                                    <span class="crop_name">
                                        {{ new_crop.crop_name }}
                                    </span>
                                    <span class="crop_description">
                                        Popis: {{ new_crop.description }}
                                    </span>
                                    <span class="crop_price">
                                        Cena: {{ new_crop.price }} eur
                                    </span>
                                </div>
                            </a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div>Nothing to show for now</div>
                {% endif %}
            </div>
        </div>
    </main>
</body>
</html>