{% load static %}
<!DOCTYPE html>
<html lang="cs" style="height: 110%">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Zelný trh</title>
</head>
<body>
    <header>
        <div class="LOGO" id="LOGO"><a href="{% url 'index:index' %}">ZELNÝ TRH</a>
        {% if logged_in %}
            <a href="{% url 'index:login' %}"><span class="button">Odhlásenie</span></a>
        {% else %}
            <a href="{% url 'index:login' %}"><span class="button" >Login</span></a>
        {% endif %}
        </div>
        <nav>
            <a href="{% url 'index:offers' %}"><span class="button">Ponuka</span></a>
            <a href="{% url 'index:harvests' %}"><span class="button">Zbery</span></a>
            {% if logged_in %}
                <a href="{% url 'index:cart' %}"><span class="button">Košík</span></a>
                <a href="{% url 'index:profile' %}"><span class="button">Profil</span></a>
            {% endif %}
        </nav>
    </header>
    <main>
        <div>
            <div class="showcase">
                {% if top_crops %}
                    <h2>Najlepšie hodnotené plodiny:</h2>
                    <ul>
                        {% for top_crop in top_crops %}
                            <li><a href="{% url 'index:product_detail' top_crop.id %}">
                                <div class="crop">
                                    {% load static %}
                                    <img src="{% static 'index/images/crops.png' %}" alt="Crop" width="100" height="100">
                                    <span class="crop_name">
                                        {{ top_crop.crop_name }}
                                    </span>
                                    <span class="crop_description">
                                        Popis: {{ top_crop.description }}
                                    </span>
                                    <span class="crop_price">
                                        Cena: {{ top_crop.price }}
                                    </span>
                                </div>
                            </a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div>Nothing to show for now</div>
                {% endif %}
            </div>
            <div class="showcase">
                {% if new_crops %}
                    <h2>Najnovšie plodiny:</h2>
                    <ul>
                        {% for new_crop in new_crops %}
                            <li><a href="{% url 'index:product_detail' new_crop.id %}">
                                <div class="crop">
                                    {% load static %}
                                    <img src="{% static 'index/images/crops.png' %}" alt="Crop" width="100" height="100">
                                    <span class="crop_name">
                                        {{ new_crop.crop_name }}
                                    </span>
                                    <span class="crop_description">
                                        Popis: {{ new_crop.description }}
                                    </span>
                                    <span class="crop_price">
                                        Cena: {{ new_crop.price }} eur
                                    </span>
                                </div>
                            </a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div>Nothing to show for now</div>
                {% endif %}
            </div>
        </div>
    </main>
</body>
</html>