{% load static %}
<!DOCTYPE html>
<html lang="cs" style="height: 110%">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Zelný trh - Login</title>
    <span class="LOGO"><a href="{% url 'index:index' %}">ZELNÝ TRH</a></span>
    <br><br>
</head>
<body>

    <main>
        {% if error %}
            <div>{{ error }}</div>
        {% endif %}
        <div class="login" id="login" >
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <br>
                <input type="submit" value="Login" class="signup">
                <br>
                <a class="signup" href="{% url 'index:sign_up' %}">Sign Up</a>
            </form>
        </div>
    </main>
</body>
</html>