<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Login - Zelný trh</title>
</head>
<body>
    <header>
        <div id="LOGO"><a href="{% url 'index:index' %}">Zelny trh</a></div>
    </header>
    <main>
        {% if error %}
            <div>{{ error }}</div>
        {% endif %}
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <br>
                <input type="submit" value="login">
                <br>
                <a href="{% url 'index:sign_up' %}">sign up</a>
            </form>
        </div>
    </main>
</body>
</html>