{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'index/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>IS Zelný trh - nové hodnotenie</title>
</head>
<body>
    <header>
        <div class="LOGO" id="LOGO"><a href="{% url 'index:index' %}">ZELNÝ TRH</a>
            <a href="{% url 'index:login' %}"><span class="button">Odhlásenie</span></a>
        </div>
        <nav>
            <a href="{% url 'index:offers' %}"><span class="button">Ponuka</span></a>
            <a href="{% url 'index:harvests' %}"><span class="button">Zbery</span></a>
            <a href="{% url 'index:cart' %}"><span class="button">Košík</span></a>
            <a href="{% url 'index:profile' %}"><span class="button">Profil</span></a>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" name="create" class="button">
                Vytvor hodnotenie
            </button>
        </form>
    </main>
</body>
</html>