<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nová plodina - Zelný Trh</title>
     <span id="LOGO"><a href="{% url 'index:index' %}">ZELNY TRH</a></span>
</head>
<body>
    {% if error %}
            <div>{{ error }}</div>
    {% endif %}
    <form method="post" >
        {% csrf_token %}
        {{ form }}
            {% if form.crop_name ==  ''%}
                <button type="submit" value="save" name="form_type">
                     Uložiť zmeny
                </button>
            {% else %}
                <button type="submit" value="update" name="form_type">
                     Uložiť zmeny
                </button>
            {% endif %}
    </form>

</body>
</html>