{% load static %}
<!DOCTYPE html>
<html lang="cs" style="height: 110%">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Zelný trh - Ponuka</title>
    <span class="LOGO"><a href="{% url 'index:index' %}">ZELNÝ TRH</a></span>
    <br><br>
</head>
<body style="background: rgb(4,36,0);
background: linear-gradient(176deg, rgba(4,36,0,1) 0%, rgba(45,121,9,1) 40%, rgba(159,255,0,1) 100%);">
    <header>
            <nav>
                <ul>
                    <!--<li class="button"><a href="{% url 'index:offers' %}">Ponuka</a></li>-->
                    <li class="button"><a href="{% url 'index:harvests' %}">Zbery</a></li>
                </ul>
            </nav>

        <span class="button"><a href="{% url 'index:login' %}">Login</a></span>

    </header>
    <main>
        <div id="filter">
            <form>
                <input type="submit" value="filter" class="button">
                <input type="submit" value="clear" class="button"><br>
                {% if categories %}
                    {% for category in categories %}
                        <input type="checkbox" name="{{ category.id }}">
                        <label for="{{ category.id }}">{{ category.category_name }}</label>
                    {% endfor %}
                {% else %}
                    <label>Nothing to show for now</label>
                {% endif %}
            </form>
        </div>
        <div id="grid_show">
            {% if crops %}
                <ul>
                {% for crop in crops %}
                    <li><a href="{% url 'index:product_detail' crop.id %}">
                                <div class="crop">
                                    {% load static %}
                                    <img src="{% static 'index/images/crops.png' %}" alt="Crop" width="100" height="100">
                                    <span class="crop_name">
                                        {{ crop.crop_name }}
                                    </span>
                                    <span class="crop_description">
                                        Popis: {{ crop.description }}
                                    </span>
                                    <span class="crop_price">
                                        Cena: {{ crop.price }} eur
                                    </span>
                                </div>
                            </a></li>
                {% endfor %}
                </ul>
            {% else %}
                <br>
                <h1>Filtru nevyhovujú žiaadne produkty.</h1>
            {% endif %}
        </div>
    </main>
</body>
</html>