{% load static %}
<!DOCTYPE html>
<html lang="cs" style="height: 110%">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="shortcut icon" href="{% static 'index/images/favicon.ico' %}"/>
<head>
    <meta charset="UTF-8">
    <title>Zelný trh - Registrácia</title>
</head>
<body>
    <header>
        <div class="LOGO" id="LOGO"><a href="{% url 'index:index' %}">ZELNÝ TRH</a></div>
    </header>
    <main>
        {% if error %}
            <div>{{ error }}</div>
        {% endif %}
        <div class="login" id="Login">
            <form method="post">
                {% csrf_token %}
                {{ form }}
             <br>
                <input type="submit" value="Sign Up" class="button">
            </form>
        </div>
    </main>
</body>
</html>