{% load static %}
<!DOCTYPE html>
<html lang="cs" style="height: 100vh">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="shortcut icon" href="{% static 'index/images/favicon.ico' %}"/>
<head>
    <meta charset="UTF-8">
    <title>IS Zelny trh - admin</title>
</head>
<body>
    <header>
        <div  class="site_head" id="site_head">
            <div><a class="LOGO" href="{% url 'admin:index' %}">ZELNÝ TRH</a></div>
        {% if admin %}
            <div><a href="{% url 'admin:login' %}"><span class="button">Odhlásenie</span></a></div>
        {% else %}
            <div><a href="{% url 'admin:login' %}"><span class="button" >Login</span></a></div>
        {% endif %}
        </div>
    </header>
    <main>
        <ol>
            <li class="toggle">
                <label>
                    <a href="{% url 'admin:users' %}">Users</a>
                </label>
            </li>
            <li class="toggle">
                <label>
                    <a href="{% url 'admin:crops' %}">Crops</a>
                </label>
            </li>
            <li class="toggle">
                <label>
                    <a href="{% url 'admin:orders' %}">Orders</a>
                </label>
            </li>
            <li class="toggle">
                <label>
                    <a href="{% url 'admin:harvests' %}">Harvests</a>
                </label>
            </li>
            <li class="toggle">
                <label>
                    <a href="{% url 'admin:categories' %}">Categories</a>
                </label>
            </li>
            <li class="toggle">
                <label>
                    <a href="{% url 'admin:reviews' %}">Reviews</a>
                </label>
            </li>
            <li class="toggle">
                <label>
                    <a href="{% url 'admin:admins' %}">Admins</a>
                </label>
            </li>
        </ol>
    </main>
</body>
</html>