{% load static %}
<!DOCTYPE html>
<html lang="cs" style="height: 100vh">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="shortcut icon" href="{% static 'index/images/favicon.ico' %}"/>
<head>
    <meta charset="UTF-8">
    <title>IS Zelny trh - admin</title>
</head>
<body>
    <header>
        <div class="LOGO" id="LOGO">
            <label>IS Zelný trh - administrácia</label>

        {% if admin %}
                <label>
                    <span class="button"><a href="{% url 'admin:login' %}">Odhlásenie</a></span>
                </label>
        </div>
        {% endif %}
    </header>
    <main>
        <ul>
            <li>
                <label>
                    <a href="{% url 'admin:users' %}">Users</a>
                </label>
            </li>
            <li>
                <label>
                    <a href="{% url 'admin:crops' %}">Crops</a>
                </label>
            </li>
            <li>
                <label>
                    <a href="{% url 'admin:orders' %}">Orders</a>
                </label>
            </li>
            <li>
                <label>
                    <a href="{% url 'admin:harvests' %}">Harvests</a>
                </label>
            </li>
            <li>
                <label>
                    <a href="{% url 'admin:categories' %}">Categories</a>
                </label>
            </li>
            <li>
                <label>
                    <a href="{% url 'admin:reviews' %}">Reviews</a>
                </label>
            </li>
            <li>
                <label>
                    <a href="{% url 'admin:admins' %}">Admins</a>
                </label>
            </li>
        </ul>
    </main>
</body>
</html>