<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IS Zelný trh - admin - orders</title>
</head>
<body>
    {% load db_plug %}
    <header>
        <label>IS Zelný trh - administrácia - orders</label>
        <br>
        <label><a href="{% url "admin:index" %}">IS Zelný trh - administrácia</a></label>
    </header>
    {% if orders %}
        <div class="table_header">
            <label>Order ID</label>
            <label>Crop ID</label>
            <label>Farmer ID</label>
            <label>User ID</label>
            <label>Price</label>
            <label>Amount</label>
        </div>
        {% for order in orders %}
            <form>
                <label>{{ order.id }}</label>
                <label>{% get_crop_name order.crop %}</label>
                <label>{% get_user_name order.farmer %}</label>
                <label>{% get_user_name order.ordered_by %}</label>
                <label>{{ order.total_price }}€</label>
                <label>{{ order.amount }}</label>
            </form>
        {% endfor %}
    {% else %}
        <label>Nothing to show for now</label>
    {% endif %}
</body>
</html>