<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IS Zelný Trh - admin - harvests</title>
</head>
<body>
    {% load db_plug %}
    <header>
        <label>IS Zelný trh - administrácia - harvests</label>
        <br>
        <label><a href="{% url "admin:index" %}">IS Zelný trh - administrácia</a></label>
    </header>
    {% if harvests %}
        <div class="table_header">
            <label>Harvest ID</label>
            <label>Farmer ID</label>
            <label>Crop ID</label>
            <label>Date</label>
            <label>Place</label>
            <label>Delete harvest</label>
        </div>
        {% for harvest in harvests %}
            <form method="post">
                <input type="hidden" name="harvest_id" value="{{ harvest.id }}">
                <label>{{ harvest.id }}</label>
                <label>{% get_user_name harvest.farmer %}</label>
                <label>{% get_crop_name harvest.crop %}</label>
                <label>{{ harvest.date }}</label>
                <label>{{ hravest.place }}</label>
                <input type="submit" name="delete" value="Delete">
            </form>
        {% endfor %}
    {% else %}
        <label>Nothing to show for now</label>
    {% endif %}
</body>
</html>